<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <title>Main title</title>
    <div th:insert="~{fragments :: connect}"/>
</head>
<body class="lightRed">
<div th:insert="~{fragments :: header}"></div>
<div class="myContent">
    <div class="productContent">

        <nav class="navbar navbar-default">
            <div class="navContainer">
                <div class="navbar-header">
                    <div class="navbar-brand">Добавление продукта</div>
                    <div class="navbar-brand">Шаг 1: Описание</div>
                    <div class="navbar-brand">Шаг 2: Характеристики</div>
                    <div class="navbar-brand">Шаг 3: Изображение</div>
                </div>
            </div>
        </nav>

        <form method="POST" th:action="@{/admin/add-product/third}" enctype="multipart/form-data">
            <input type="file" name="file" /><br/>
            <input type="submit" value="Submit" />
        </form>

    </div>
</div>
</body>