<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>All users</title>
    <div th:insert="~{fragments :: connect}"/>
</head>
<body class="lightRed">
<div th:insert="~{fragments :: header}"></div>
<div class="myContent">
    <div class="productContent">

        <div th:insert="~{fragments :: navbar-default}"></div>

        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Login</th>
                <th>Роль</th>
                <th>Профайл</th>
                <th>Заказы</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="user : ${users}">
                <td th:text="${user.name}"/>
                <td th:text="${user.surname}"/>
                <td th:text="${user.login}"/>
                <td th:text="${user.role}"/>
                <td>
                    <a th:href="@{'/admin/users/see-profile/' + ${user.id}}">Просмотреть профайл</a>
                </td>
                <td>
                    <a th:href="@{'/admin/users/all-orders/' + ${user.id}}">Заказы пользователя</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>