<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <div th:insert="~{fragments :: connect}"/>
</head>
<body class="lightRed">
<div th:insert="~{fragments :: header}"></div>
<div class="myContent">
    <div class="productContent">

        <div th:insert="~{fragments :: navbar-default}"></div>

        <div th:object="${carts}">
            <div th:each="cart : ${carts}">
                <div class="form-group col-lg-10">
                    <p th:text="${cart.product.name} + ' в количестве: ' + ${cart.amount}"></p>
                    <select size="1" name="amount" th:id="'amount' + ${cart.product.id}">
                        <option th:each="i : ${#numbers.sequence(1, cart.amount)}"
                                th:value="${i}"
                                th:text="${i}">
                        </option>
                    </select>
                    <div class="btn-group" role="group">
                        <div th:value="${cart.product.id}" th:id="'productId' + ${cart.product.id}"></div>
                        <button class="btn btn-default" type="button"
                                th:onclick="'deleteFromCart(\'' + ${cart.product.id} + '\');'">
                            Удалить из корзины
                        </button>
                    </div>
                </div>
            </div>
            <br>
        </div>

        <div>
            <a class="btn btn-default" type="button" th:href="@{/user/create-order}">
                Оформить заказ
            </a>
        </div>

    </div>
</div>
</body>