<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Orders</title>
    <div th:insert="~{fragments :: connect}"/>
</head>
<body class="lightRed">
<div th:insert="~{fragments :: header}"></div>
<div class="myContent">
    <div class="productContent">

        <div th:insert="~{fragments :: navbar-default}"></div>

        <h4>Мои заказы</h4>

        <div th:each="order : ${orders}">
            <div th:each="content : ${contents}">
                <div th:if="${order.id} == ${content[0].order.id}">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Номер заказа</th>
                            <th>Продукт</th>
                            <th>Количество</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="cont : ${content}">
                            <td th:text="${order.id}"/>
                            <td>
                                <a th:href="@{'/product_info/' + ${cont.product.id}}"
                                   th:text="${cont.product.name}"></a>
                            </td>
                            <td th:text="${cont.amount}"/>
                        </tr>
                        </tbody>
                    </table>

                    <!--<div th:each="cont : ${content}">-->
                    <!--<p th:text="${cont.product.name} + ' : ' + ${cont.amount}"></p>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>
</body>