<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Get all user</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<p>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}"/>
        <td th:text="${user.surname}"/>
        <td th:text="${user.login}"/>
        <td th:text="${user.role}"/>
        <td>
            <a th:href="@{'/user/see_profile/' + ${user.id}}">Просмотреть профайл</a>
            <a th:href="@{'/user/delete/' + ${user.id}}">Удаление пользователя</a><br>
        </td>
    </tr>
</p>
</body>